<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="libraryApp.cliente.detail.title">Cliente</span> {{ cliente.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="libraryApp.cliente.codCliente">Cod Cliente</span></dt>
                <dd>
                    <span>{{ cliente.codCliente }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.cliente.contrato">Contrato</span></dt>
                <dd>
                    <div *ngIf="cliente.contrato">
                        <a [routerLink]="['/contrato', cliente.contrato?.id, 'view']">{{ cliente.contrato?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
