<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contrato">
            <h2><span jhiTranslate="libraryApp.contrato.detail.title">Contrato</span> {{ contrato.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="libraryApp.contrato.codigoClienteSap">Codigo Cliente Sap</span></dt>
                <dd>
                    <span>{{ contrato.codigoClienteSap }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.numeroContratoSap">Numero Contrato Sap</span></dt>
                <dd>
                    <span>{{ contrato.numeroContratoSap }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.numeroContratoTpz">Numero Contrato Tpz</span></dt>
                <dd>
                    <span>{{ contrato.numeroContratoTpz }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.nome">Nome</span></dt>
                <dd>
                    <span>{{ contrato.nome }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.status">Status</span></dt>
                <dd>
                    <span>{{ contrato.status }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.dataAssinatura">Data Assinatura</span></dt>
                <dd>
                    <span>{{ contrato.dataAssinatura }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.dataReajuste">Data Reajuste</span></dt>
                <dd>
                    <span>{{ contrato.dataReajuste }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.dataTermino">Data Termino</span></dt>
                <dd>
                    <span>{{ contrato.dataTermino }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.estado">Estado</span></dt>
                <dd>
                    <span>{{ contrato.estado }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{ contrato.cnpj }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.inscricaoEstadual">Inscricao Estadual</span></dt>
                <dd>
                    <span>{{ contrato.inscricaoEstadual }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.vigencia">Vigencia</span></dt>
                <dd>
                    <span>{{ contrato.vigencia }}</span>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.notaFiscal">Nota Fiscal</span></dt>
                <dd>
                    <div *ngIf="contrato.notaFiscal">
                        <a [routerLink]="['/nota-fiscal', contrato.notaFiscal?.id, 'view']">{{ contrato.notaFiscal?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="libraryApp.contrato.circuito">Circuito</span></dt>
                <dd>
                    <div *ngIf="contrato.circuito">
                        <a [routerLink]="['/circuito', contrato.circuito?.id, 'view']">{{ contrato.circuito?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contrato', contrato.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
